NODE_ENV=development
PORT=5003 # port 5000 (window/linux) / 5003 (mac)
MONGO_URI= # your MongoURI 

JWT_SECRET= # your JWT_SECRET key
JWT_EXPIRE=30d  #JWT expire duration
JWT_COOKIE_EXPIRE=30 
OTP_SECRET= # your OTP_SECRET key
OTP_EXPIRE_MINUTES=10 #OTP expire duration
OTP_RESEND_COOLDOWN_SECONDS=60 #OTP cooldown duration
OTP_MAX_ATTEMPTS=5 #OTP cooldown duration

EMAIL_USER= #your email address (auto-sender)
EMAIL_PASS= #your email password (auto-sender)
EMAIL_FROM= #your email address (auto-sender)
EMAIL_FROM_NAME = #your name (auto-sender)
TRUST_PROXY_HOPS=1
HOST= # https://localhost:{{your_port}}/
FRONTEND_BASE_URL= #https://localhost:{{your front_end port}}/